pandas
beautifulsoup4
lxml
fake_useragent
urllib3

opencv-python
opencv-python-headless
opencv-contrib-python
pytesseract
pyinstaller
ipython

uvicorn
fastapi
httptools
websockets
httptools
requests
python-dotenv

certifi
python-certifi-win32
seaborn
pandas_datareader